@model IEnumerable<NykaaDemoWeb.Data.Product>

@{
    ViewData["Title"] = "ProductView";
}
@{
    Layout = "~/Views/Shared/_noLoginLayout.cshtml";
}


<p>
    <a asp-action="AddProduct">Add New Product</a>
</p>
<button class="login_btn"><a href="/Login/LogOut"> Log Out </a></button>
<table class="table">
    <thead>
        <tr>
            <th>
                Product
            </th>
            <th>
                Price
            </th>
            <th>
                Brand
            </th>
            <th>
                Description
            </th>
            <th>
                Image
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="DisplayProducts" asp-route-id="@item.Pid">@Html.DisplayFor(modelItem => item.Pname)</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pprice)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pbrand)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pdescription)
                </td>
 
                <td>               
                    <img src=@item.Pimg width="100" , height="100" alt="Red Dot" />

                </td>
                <td>
                    <a asp-action="UpdateProduct" asp-route-id="@item.Pid">Edit</a> |
                    <a asp-action="DeleteProduct" asp-route-id="@item.Pid">Delete</a>

                </td>
            </tr>
        }
    </tbody>
</table>
